<%- include('../partials/header', {title}) %>

    <h1>Update Show</h1>
    <form action="/shows/<%= show.id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= show.name %>"><br>
        Cast Member 1: <input type="text" name="cast" value="<%= show.cast[0] %>"><br>
        Cast Member 2: <input type="text" name="cast" value="<%= show.cast[1] %>"><br>
        Cast Member 3: <input type="text" name="cast" value="<%= show.cast[2] %>"><br>
        <button type="submit">Update Show</button>
    </form>

<%- include('../partials/footer') %>