<%- include('../partials/header', {title}) %>

    <a href="/">Home</a> | <a href="/shows">Show List</a> | <a href="/shows/new">Add Show</a>
    <h1>TV Shows</h1>
    <% shows.forEach(function(show) { %>
        <div>
            <h3><a href="/shows/<%= show.id %>"><%= show.name %></a></h3>
            <form action="/shows/<%= show.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">Delete <%= show.name %></button>
            </form>
        </div>
        <hr>
    <% }) %>

<%- include('../partials/footer') %>