<%- include('../partials/header', {title}) %>

    <h1><%= show.name %></h1>
    <p>Cast:</p>
    <ul>
        <% show.cast.forEach(function(member) { %>
            <li><%= member %></li>
        <% }) %>
    </ul>
    <a href="/shows/<%= show.id %>/edit">Edit Show</a>

<%- include('../partials/footer') %>